<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) Binod Nepal, Mix Open Foundation (http://mixof.org).

This file is part of MixERP.

MixERP is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

MixERP is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with MixERP.  If not, see <http://www.gnu.org/licenses />.
-->
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!-- Connectionstring builder. -->
    <add key="DbServerConfigFileLocation" value="C:\Users\nirvan\Desktop\mixerp\0. GitHub\src\FrontEnd\MixERP.Net.FrontEnd\Resource\Configuration\DbServer.xml" />
    <!--<add key="Server" value="localhost"/>
    <add key="Database" value="mixerp"/>
    <add key="UserId" value="postgres"/>
    <add key="Password" value="binod"/>-->

    <!-- Location of scripts containing unit tests. -->
    <add key="UnitTestDirectory" value="sql/pg-unit-tests/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="xUnit" /></specFlow></configuration>
