<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Server" value="localhost"/>
    <add key="Database" value="mixerp"/>
    <add key="UserId" value="postgres"/>
    <add key="Password" value="binod"/>
    <add key="DBParameterConfigFileLocation" value="~/Resource/Configuration/DbParameters.xml"/>
    <add key="ParamterConfigFileLocation" value="~/Resource/Configuration/Parameters.xml"/>
    <add key="ReportConfigFileLocation" value="~/Resource/Configuration/ReportParameters.xml"/>
    <add key="ScrudConfigFileLocation" value="~/Resource/Configuration/ScrudParameters.xml"/>
    <add key="SwitchConfigFileLocation" value="~/Resource/Configuration/Switches.xml"/>
    <!-- This should be switched off on deployment.-->
    <add key="DisplayErrorDetails" value="true"/>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup"/>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="34327;True;6180;1;-8588270976784922983"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler" validate="false"/>
    </httpHandlers>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework=".NETFramework,Version=v4.5,Profile=Mono">
    </compilation>
    <sessionState mode="InProc" cookieless="UseCookies" timeout="60"/>
    <authentication mode="Forms">
      <forms loginUrl="~/SignIn.aspx" timeout="60" slidingExpiration="true" defaultUrl="~/Dashboard/Index.aspx"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0" enableViewState="false" enableViewStateMac="false" enableEventValidation="false" theme="MixERP" clientIDMode="Static">
      <controls>
        <add tagPrefix="mixerp" assembly="MixERP.Net.WebControls.Common" namespace="MixERP.Net.WebControls.Common"/>
        <add tagPrefix="mixerp" assembly="MixERP.Net.WebControls.ReportEngine" namespace="MixERP.Net.WebControls.ReportEngine"/>
        <add tagPrefix="mixerp" assembly="MixERP.Net.WebControls.ScrudFactory" namespace="MixERP.Net.WebControls.ScrudFactory"/>
        <add tagPrefix="mixerp" tagName="Product" src="~/UserControls/Products/ProductControl.ascx"/>
        <add tagPrefix="mixerp" tagName="ProductView" src="~/UserControls/Products/ProductViewControl.ascx"/>
        <add tagPrefix="mixerp" tagName="TransactionChecklist" src="~/UserControls/TransactionChecklistControl.ascx"/>
        <add tagPrefix="mixerp" tagName="AlertsWidget" src="~/UserControls/Widgets/AlertsWidget.ascx"/>
        <add tagPrefix="mixerp" tagName="CurrentOfficeSalesByMonthWidget" src="~/UserControls/Widgets/CurrentOfficeSalesByMonthWidget.ascx"/>
        <add tagPrefix="mixerp" tagName="LinksWidget" src="~/UserControls/Widgets/LinksWidget.ascx"/>
        <add tagPrefix="mixerp" tagName="OfficeInformationWidget" src="~/UserControls/Widgets/OfficeInformationWidget.ascx"/>
        <add tagPrefix="mixerp" tagName="SalesByOfficeWidget" src="~/UserControls/Widgets/SalesByOfficeWidget.ascx"/>
        <add tagPrefix="mixerp" tagName="TopSellingProductOfAllTimeCurrentWidget" src="~/UserControls/Widgets/TopSellingProductOfAllTimeCurrentWidget.ascx"/>
        <add tagPrefix="mixerp" tagName="TopSellingProductOfAllTimeWidget" src="~/UserControls/Widgets/TopSellingProductOfAllTimeWidget.ascx"/>
        <add tagPrefix="mixerp" tagName="WorkflowWidget" src="~/UserControls/Widgets/WorkflowWidget.ascx"/>
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager"/>
      </controls>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers/>
  </system.webServer>
</configuration>