@using MixERP.Net.UI.ScrudFactory
@model Config

@Html.ScrudFor(Model)

<script src="/Scripts/colorpicker/jquery.colorpicker.js"></script>
<link href="/Scripts/colorpicker/jquery.colorpicker.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/colorpicker/i18n/jquery.ui.colorpicker-nl.js"></script>
<script src="/Scripts/colorpicker/swatches/jquery.ui.colorpicker-pantone.js"></script>
<script src="/Scripts/colorpicker/parts/jquery.ui.colorpicker-rgbslider.js"></script>
<script src="/Scripts/colorpicker/parts/jquery.ui.colorpicker-memory.js"></script>
<script src="/Scripts/colorpicker/parsers/jquery.ui.colorpicker-cmyk-parser.js"></script>
<script src="/Scripts/colorpicker/parsers/jquery.ui.colorpicker-cmyk-percentage-parser.js"></script>

<div style="display: none;position: fixed; right: 20px; width: 400px; top: 250px; z-index: 2;" class="ui small segment center lorem ipsum">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

<script src="~/Areas/BackOffice/Scripts/flags.js"></script>