<div id="top-menu" class="ui attached  menu">
    <a class="item" onclick=" toggleSidebar(this); ">
        <i class="options icon"></i>
    </a>
    <a class='initially hidden item' id="reset-menu" href="javascript:void(0);">
        <i class='red remove icon'></i>
    </a>
</div>
<div class="sidebar">
    <div id="search">
        <div class="ui icon  input" style="width: 100%;">
            <input type="text" id="SearchInput" autocomplete="off">
            <i class="search link icon"></i>
        </div>
    </div>
    <div id="tree" style='display:none;'>
        <ul id='treeData'></ul>
    </div>
</div>
