<div class="ui inverted contrast theme menu">
    <a class="item" href="https://github.com/mixerp/mixerp" target="_blank">
        <i class="github icon"></i>
    </a>
    <a class="item" href="http://mixerp.org/forum" target="_blank">
        <i class="users icon"></i>
    </a>
    <a class="item">
        <i class="mail icon"></i>
    </a>
    <div tabindex="0" class="ui simple right dropdown item">
        <i class="user icon"></i>
        <div tabindex="-1" class="ui menu">
            <a class="item" href="/account/change-password">
                <i class="flag icon"></i>
                Change Password
            </a>
            <a class="item" href="account/profile">
                <i class="edit icon"></i>
                Manage Profile
            </a>
            <a class="item" href="~/sign-out">
                <i class="sign out icon"></i>
                Sign Out
            </a>
        </div>
    </div>
</div>