<?xml version="1.0"?>

<!--
Copyright (C) Binod Nepal, Mix Open Foundation (http://mixof.org).

This file is part of MixERP.

MixERP is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

MixERP is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with MixERP.  If not, see <http://www.gnu.org/licenses/>.
-->

<configuration>
  <appSettings>
    <add key="Enabled" value="true" />
    <add key="UserAgent" value="MixERP" />
    <add key="MediaType" value="application/json" />
    <add key="APIAccessKey" value="" />
    <add key="APIUrl" value="http://apilayer.net/api/live" />
    <add key="AccessKeyName" value="access_key" />
    <add key="CurrenciesKey" value="currencies " />
    <add key="SourceKey" value="source" />
    <add key="FormatKey" value="format"/>
    <add key="DecimalPlaces" value="4" />
    <add key="DefaultFormat" value="1" />
    <!--1 = JSON-->
    <add key="ResultSubKey" value="quotes" />
    <!--The sub-key which contains list of converted currencies-->
    <add key="RemoveSourceCurrencyFromResult" value="true" />
    <!--Currencylayer prepends source currency on all result items. This must be set to true unless this behavior is changed in the future.-->
  </appSettings>
</configuration>