<?xml version="1.0"?>

<!--
Copyright (C) Binod Nepal, Mix Open Foundation (http://mixof.org).

This file is part of MixERP.

MixERP is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

MixERP is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with MixERP.  If not, see <http://www.gnu.org/licenses/>.
-->

<configuration>
  <appSettings>
    <add key="ResourceClassName" value="ScrudResource" />
    <add key="BarcodeFormat" value="CODE128" />
    <add key="BarcodeDisplayValue" value="false" />
    <add key="BarcodeFontSize" value="16" />
    <add key="BarcodeWidth" value="1.5" />
    <add key="BarcodeHeight" value="50" />
    <add key="BarcodeQuite" value="0" />
    <add key="BarcodeFont" value="Arial" />
    <add key="BarcodeTextAlign" value="center" />
    <add key="BarcodeBackgroundColor" value="#FFFFFF" />
    <add key="BarcodeLineColor" value="#000000" />
    <add key="QRCodeRender" value ="canvas" />
    <add key="QRCodeBackgroundColor" value ="#FFFFFF" />
    <add key="QRCodeForegroundColor" value ="#000000" />
    <add key="QRCodeWidth" value ="100" />
    <add key="QRCodeHeight" value ="100" />
    <add key="QRCodeTypeNumber" value ="-1" />
    <add key="LogoPath" value="~/Static/images/mixerp-logo-light.png" />
    <add key="HeaderPath" value="~/Reports/Assets/Header.html" />
    <add key="ReportContainer" value="~/Resource/CustomReports/" />    
    <add key="ImageButtonCssClass" value="report-image-button" />
    <add key="EmailIcon" value="~/Static/Icons/email-16.png" />
    <add key="PrintIcon" value="~/Static/Icons/print-16.png" />
    <add key="ExcelIcon" value="~/Static/Icons/excel-16.png" />
    <add key="WordIcon" value="~/Static/Icons/word-16.png" />
    <add key="GoTopIcon" value="~/Static/Icons/top-16.png" />
    <add key="GoBottomIcon" value="~/Static/Icons/bottom-16.png" />
    <add key="FilterIcon" value="~/Static/Icons/filter-16.png" />
    <add key="CloseIcon" value="~/Static/Icons/close-16.png" />
  </appSettings>
</configuration>