<?xml version="1.0" encoding="utf-8" ?>

<!--
Copyright (C) Binod Nepal, Mix Open Foundation (http://mixof.org).

This file is part of MixERP.

MixERP is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

MixERP is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with MixERP.  If not, see <http://www.gnu.org/licenses/>.
-->

<configuration>
  <appSettings>
    <add key="AutoSuggestUpdate" value="true" />    
    <add key="ApiUrl" value="https://api.github.com/repos/mixerp/mixerp/releases" />
    <add key="MediaType" value="application/json" />
    <add key="UserAgent" value="MixERP"/>
    <add key="DownloadDirectory" value="/downloads" />    
    <add key="IdKey" value="id" />
    <add key="NameKey" value="name" />
    <add key="TagNameKey" value="tag_name" />
    <add key="BodyKey" value="body" />
    <add key="DraftKey" value="draft" />
    <add key="CreatedAtKey" value="created_at" />
    <add key="PublishedAtKey" value="published_at" />
    <add key="AssetsKey" value="assets" />
    <add key="AssetIdSubKey" value="id" />
    <add key="AssetNameSubKey" value="name" />
    <add key="AssetContentTypeSubKey" value="content_type" />
    <add key="AssetStateSubKey" value="state" />
    <add key="AssetSizeSubKey" value="size" />
    <add key="AssetCreatedAtSubKey" value="created_at" />
    <add key="AssetUpdatedAtSubKey" value="updated_at" />
    <add key="AssetDownloadUrlSubKey" value="browser_download_url" />
    <add key="Backup" value="/Resource/Configs/DbServer.config"/>
  </appSettings>
</configuration>