DO
$$
BEGIN
    IF(core.get_locale() = 'en-US') THEN
        INSERT INTO core.late_fee(late_fee_code, late_fee_name, is_flat_amount, rate, account_id)
        SELECT '9%', '9% Fine', false, 9.00, core.get_account_id_by_account_number('30300'); 

        INSERT INTO core.payment_terms(payment_term_code, payment_term_name, due_on_date, due_days, due_frequency_id, grace_period, late_fee_id, late_fee_posting_frequency_id)
        SELECT '07-D',  'Due in next 7 days',                   false,  7,  NULL::integer,  1,  1, 2    UNION ALL
        SELECT '15-D',  'Due in next 15 days',                  false,  15, NULL::integer,  2,  1, 2    UNION ALL
        SELECT '30-D',  'Due in next 30 days',                  false,  30, NULL::integer,  4,  1, 2    UNION ALL
        SELECT 'D-EOM', 'Due in the next month end',            false,  0,  2,              4,  1, 2    UNION ALL
        SELECT 'D-EOQ', 'Due in the next quarter end',          false,  0,  3,              4,  1, 3    UNION ALL
        SELECT 'D-EOH', 'Due in the next fiscal half end',      false,  0,  4,              4,  1, 4    UNION ALL
        SELECT 'D-EOY', 'Due in the next fiscal year end',      false,  0,  5,              4,  1, 5;
    END IF;
END
$$
LANGUAGE plpgsql;