DO
$$
BEGIN
    IF(core.get_locale() = 'en-US') THEN
        INSERT INTO core.salespersons(sales_team_id, salesperson_code, salesperson_name, address, contact_number, commission_rate, account_id)
        SELECT 1, 'OFF', 'Office',                  'Office',   '', 0,  (SELECT account_id FROM core.accounts WHERE account_number='20100') UNION ALL
        SELECT 2, 'ROS', 'Robert Schintowski',      'Russia',   '', 0,  (SELECT account_id FROM core.accounts WHERE account_number='20100') UNION ALL
        SELECT 2, 'PHJ', 'Phillipe Jones',          'France',   '', 0,  (SELECT account_id FROM core.accounts WHERE account_number='20100') UNION ALL
        SELECT 3, 'AWB', 'Alexander Walter Bishop', 'Texas',    '', 0,  (SELECT account_id FROM core.accounts WHERE account_number='20100') UNION ALL
        SELECT 3, 'LMA', 'Lisa Mary Ann',           'Austin',   '', 0,  (SELECT account_id FROM core.accounts WHERE account_number='20100');

    END IF;
END
$$
LANGUAGE plpgsql;
