<?xml version="1.0"?>

<!--
Copyright (C) Binod Nepal, Mix Open Foundation (http://mixof.org).

This file is part of MixERP.

MixERP is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

MixERP is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with MixERP.  If not, see <http://www.gnu.org/licenses />.
-->

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework=".NETFramework,Version=v4.5,Profile=Mono" />
    <httpRuntime targetFramework="4.5" />

    <pages controlRenderingCompatibilityVersion="4.0" enableViewState="false" enableViewStateMac="false" enableEventValidation="false" theme="MixERP" clientIDMode="Static">
      <controls>
        <add tagPrefix="mixerp" assembly="MixERP.Net.WebControls.Common" namespace="MixERP.Net.WebControls.Common" />
        <add tagPrefix="mixerp" assembly="MixERP.Net.WebControls.ReportEngine" namespace="MixERP.Net.WebControls.ReportEngine" />
        <add tagPrefix="mixerp" assembly="MixERP.Net.WebControls.ScrudFactory" namespace="MixERP.Net.WebControls.ScrudFactory" />
        <add tagPrefix="mixerp"  assembly="MixERP.Net.WebControls.PartyControl" namespace="MixERP.Net.WebControls.PartyControl" />
        <add tagPrefix="mixerp" tagName="Product" src="~/UserControls/Products/ProductControl.ascx" />
        <add tagPrefix="mixerp" tagName="ProductView" src="~/UserControls/Products/ProductViewControl.ascx" />
        <add tagPrefix="mixerp" tagName="TransactionChecklist" src="~/UserControls/TransactionChecklistControl.ascx" />
        <add tagPrefix="mixerp" tagName="Attachment" src="~/UserControls/AttachmentUserControl.ascx" />
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
      </controls>
    </pages>
  </system.web>
</configuration>