<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework=".NETFramework,Version=v4.5,Profile=Mono" />
    <httpRuntime targetFramework="4.5" />

    <pages controlRenderingCompatibilityVersion="4.0" enableViewState="false" enableViewStateMac="false" enableEventValidation="false" theme="MixERP" clientIDMode="Static">
      <controls>
        <add tagPrefix="mixerp" assembly="MixERP.Net.WebControls.Common" namespace="MixERP.Net.WebControls.Common" />
        <add tagPrefix="mixerp" assembly="MixERP.Net.WebControls.ReportEngine" namespace="MixERP.Net.WebControls.ReportEngine" />
        <add tagPrefix="mixerp" assembly="MixERP.Net.WebControls.ScrudFactory" namespace="MixERP.Net.WebControls.ScrudFactory" />
        <add tagPrefix="mixerp"  assembly="MixERP.Net.WebControls.PartyControl" namespace="MixERP.Net.WebControls.PartyControl" />
        <add tagPrefix="mixerp" tagName="Product" src="~/UserControls/Products/ProductControl.ascx" />
        <add tagPrefix="mixerp" tagName="ProductView" src="~/UserControls/Products/ProductViewControl.ascx" />
        <add tagPrefix="mixerp" tagName="TransactionChecklist" src="~/UserControls/TransactionChecklistControl.ascx" />
        <add tagPrefix="mixerp" tagName="AlertsWidget" src="~/UserControls/Widgets/AlertsWidget.ascx" />
        <add tagPrefix="mixerp" tagName="CurrentOfficeSalesByMonthWidget" src="~/UserControls/Widgets/CurrentOfficeSalesByMonthWidget.ascx" />
        <add tagPrefix="mixerp" tagName="LinksWidget" src="~/UserControls/Widgets/LinksWidget.ascx" />
        <add tagPrefix="mixerp" tagName="OfficeInformationWidget" src="~/UserControls/Widgets/OfficeInformationWidget.ascx" />
        <add tagPrefix="mixerp" tagName="SalesByOfficeWidget" src="~/UserControls/Widgets/SalesByOfficeWidget.ascx" />
        <add tagPrefix="mixerp" tagName="TopSellingProductOfAllTimeCurrentWidget" src="~/UserControls/Widgets/TopSellingProductOfAllTimeCurrentWidget.ascx" />
        <add tagPrefix="mixerp" tagName="TopSellingProductOfAllTimeWidget" src="~/UserControls/Widgets/TopSellingProductOfAllTimeWidget.ascx" />
        <add tagPrefix="mixerp" tagName="WorkflowWidget" src="~/UserControls/Widgets/WorkflowWidget.ascx" />
        <add tagPrefix="mixerp" tagName="Attachment" src="~/UserControls/AttachmentUserControl.ascx" />
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
      </controls>
    </pages>
  </system.web>
</configuration>