@{
    ViewBag.Title = "Index";
}

<h1 class="ui large header">Your Network</h1>
<div class="ui divider"></div>


<div class="ui feed">
    <div class="event">
        <div class="label">
            <img src="~/Contents/images/social/binod-1.jpg" />
        </div>
        <div class="content">
            <div class="summary">
                You have started following
                <a class="user">
                    Binod
                </a> on facebook
                <div class="date">
                    1 Hour Ago
                </div>
            </div>
            <div class="meta">
                <a class="like">
                    <i class="users icon"></i>78 Followers
                </a>
            </div>
        </div>
    </div>
    <div class="event">
        <div class="label">
            <img src="~/Contents/images/social/guru-1.jpg" />
        </div>
        <div class="content">
            <div class="summary">
                <a class="user">
                    Guru
                </a> posted a new tweet
                <div class="date">
                    3 days ago
                </div>
            </div>
            <div class="extra text">
                I am going on a long drive tonight.
            </div>
            <div class="meta">
                <a class="like">
                    <i class="like icon"></i> 11 Likes
                </a>
            </div>
        </div>
    </div>
    <div class="event">
        <div class="label">
            <img src="~/Contents/images/social/binod-1.jpg" />
        </div>
        <div class="content">
            <div class="date">
                4 days ago
            </div>
            <div class="summary">
                <a>Binod</a> added <a>2 new photos</a> on instagram
            </div>
            <div class="extra images">
                <a>
                    <img src="~/Contents/images/social/binod-3.jpg" />
                </a>
                <a>
                    <img src="~/Contents/images/social/binod-4.jpg" />
                </a>
            </div>
            <div class="meta">
                <a class="like">
                    <i class="like icon"></i> 1 Like
                </a>
            </div>
        </div>
    </div>
    <div class="event">
        <div class="label">
            <img src="~/Contents/images/social/surya-1.jpg" />
        </div>
        <div class="content">
            <div class="summary">
                <a>Surya</a> posted on his blog
                <div class="date">
                    3 days ago
                </div>
            </div>
            <div class="extra text">
                I am a frequent traveler and a passionate writer. The last trip to Sweden was really amazing. Great people,
                clean city, amazing food! All in all, it was ...
                <br />
                <br />
                <p>
                    <a>Continue Reading on Surya's Blog</a>
                </p>
            </div>
            <div class="meta">
                <a class="like">
                    <i class="like icon"></i> 5 Likes
                </a>
            </div>
        </div>
    </div>
    <div class="event">
        <div class="label">
            <img src="~/Contents/images/social/surya-2.jpg" />
        </div>
        <div class="content">
            <div class="date">
                4 days ago
            </div>
            <div class="summary">
                <a>Cheung Lee</a> added <a>2 new photos</a> with you on Google+
            </div>
            <div class="extra images">
                <a>
                    <img src="~/Contents/images/social/surya-1.jpg" />
                </a>
                <a>
                    <img src="~/Contents/images/social/surya-2.jpg" />
                </a>
            </div>
            <div class="meta">
                <a class="like">
                    <i class="like icon"></i> 41 Likes
                </a>
            </div>
            <div class="text">
                <a>Open facebook</a>
            </div>
        </div>
    </div>
</div>