<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="SiteName" value="MixERP"/>
    <add key="PostgreSQL32" value="Assets/PostgreSQL/postgresql-9.4.2-1-windows.exe" />
    <add key="PostgreSQL64" value="Assets/PostgreSQL/postgresql-9.4.2-1-windows-x64.exe" />
    <add key="PostgreSQLInstallationDirectory" value="C:\Program Files\PostgreSQL\9.4" />
    <add key="DownloadDirectory" value="Temp/Downloads" />
    <add key="ArchiveName" value="v1.2.zip"/>
    <add key="ExtractDirectory" value="Temp/Extracted" />
    <add key="InstallerManifest" value="MixERP.Installation.xml" />
    <add key="PostgresPassword" value="binod" />
    <add key="MixERPPassword" value="change-on-deployment" />
    <add key="ReportUserPassword" value="change-on-deployment" />
    <add key="OfficeCode" value="MIX" />
    <add key="OfficeName" value="MixERP Corporation"/>
    <add key="NickName" value="MixERP"/>
    <add key="RegistrationDate" value="1-1-2013"/>
    <add key="CurrencyCode" value="USD"/>
    <add key="CurrencySymbol" value="$"/>
    <add key="CurrencyName" value="United States Dollar"/>
    <add key="HundredthName" value="cents"/>
    <add key="AdminName" value="Nirvan"/>
    <add key="UserName" value="nirvb"/>
    <add key="InstallSample" value="false" />
  </appSettings>
</configuration>