DO
$$
BEGIN
    IF(core.get_locale() = 'en-US') THEN
        INSERT INTO policy.auto_verification_policy
        SELECT 2, true, 0, true, 0, true, 0, '1-1-2010', '1-1-2020', true;
    END IF;
END
$$
LANGUAGE plpgsql;