<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Connectionstring builder. -->
    <add key="Server" value="localhost"/>
    <add key="Database" value="mixerp"/>
    <add key="UserId" value="postgres"/>
    <add key="Password" value="binod"/>

    <!-- Path to root can be relative or absolute directory path. -->
    <!--<add key="PathToRoot" value="/Users/binod/Documents/mixerp/" />-->
    <add key="PathToRoot" value="../../../../../" />

    <!-- Location of default script and test script. -->
    <add key="ScriptDirectory" value="MixERP.Net.FrontEnd/db/en-US/"/>
    <add key="TestDirectory" value="MixERP.Net.FrontEnd/db/pg-test/"/>

    <add key="CoreScripts" value="mixerp.sql, mixerp-db-logic.sql"/>
    <add key="SampleScripts" value="party-sample.sql, sample-data.sql"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Mono"/>
  </startup>
</configuration>
