<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) Binod Nepal, Mix Open Foundation (http://mixof.org).

This file is part of MixERP.

MixERP is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

MixERP is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with MixERP.  If not, see <http://www.gnu.org/licenses />.
-->
<configuration>
  <appSettings>
    <add key="SupressMissingResourceException" value="false" />
    <add key="DisplayErrorDetails" value="true" />
    <add key="MaxInvalidPasswordAttempts" value="10" />
    <add key="ResourceDirectory" value="/Resource" />
    <add key="ReportAPIConfigFileLocation" value="/Resource/Configs/ReportApiConfiguration.config" />
    <add key="DbServerConfigFileLocation" value="/Resource/Configs/DbServer.config" />
    <add key="PartyControlConfigFileLocation" value="/Resource/Configs/PartyControlParameters.config" />
    <add key="TransactionChecklistConfigFileLocation" value="/Resource/Configs/TransactionChecklistParameters.config" />
    <add key="ParameterConfigFileLocation" value="/Resource/Configs/Parameters.config" />
    <add key="ReportConfigFileLocation" value="/Resource/Configs/ReportParameters.config" />
    <add key="StockTransactionFactoryConfigFileLocation" value="/Resource/Configs/StockTransactionFactoryParameters.config" />
    <add key="UpdaterConfigFileLocation" value="/Resource/Configs/Updater.config" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql Server" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.2.3.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <location path="bundles">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="static/images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.web>    
    <globalization culture="auto" uiCulture="auto" />
    <compilation debug="true" />
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
    </httpHandlers>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
    <sessionState mode="InProc" cookieless="UseCookies" timeout="60" />
    <authentication mode="Forms">
      <forms loginUrl="/SignIn.aspx" timeout="60" slidingExpiration="true" defaultUrl="/Dashboard/Index.aspx" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0" enableViewState="false" enableViewStateMac="false" enableEventValidation="false" theme="" clientIDMode="Static" />

    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="StaticHandler" verb="*" path="*.backup" type="System.Web.StaticFileHandler" preCondition="integratedMode" />
      <add name="FileUploadHanlder" path="FileUploadHanlder.ashx" verb="*" type="MixERP.Net.WebControls.AttachmentFactory.FileUploadHanlder, MixERP.Net.WebControls.AttachmentFactory, Version=1.2.0.1, Culture=neutral" />
      <add name="FileUploadService" path="FileUploadHanlder.asmx" verb="*" type="MixERP.Net.WebControls.AttachmentFactory.Handlers.UploadService, MixERP.Net.WebControls.AttachmentFactory, Version=1.2.0.1, Culture=neutral" preCondition="integratedMode" />
      <add name="JavascriptResources" path="Resources.js" verb="GET,HEAD" type="MixERP.Net.i18n.ResourcesHandler, MixERP.Net.i18n, Version=1.2.0.1, Culture=neutral" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".backup" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>